:root {
	--bg: #fafaf8;
	--fg: #363636;
}

@keyframes rotate360 {
	100% {
		rotate: 360deg;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	font-size: 1.6rem;
	min-height: 1000vh;
	background-color: var(--bg);
	color: var(--fg);
	overflow-x: hidden;
}

button,
input {
	border: none;
	background: none;
	font-family: inherit;
}

.container {
	padding-inline: 40px;

	@include mq(992px) {
		padding-inline: 16px;
	}
}

@keyframes animateDash {
	to {
	}
}

.btn {
	display: inline-block;
	position: relative;
	font-size: 2rem;
	cursor: pointer;

	svg {
		position: absolute;
		width: 150%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;
		pointer-events: none;
	}

	&:hover {
		svg {
			stroke-dashoffset: 0;
		}
	}

	@include mq(992px) {
		font-size: 1.6rem;
	}
}

.header {
	padding-top: 40px;

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			text-align: center;

			& > div {
				font-family: var(--font-melodrama);

				&:first-child {
					font-size: 4rem;
					font-weight: 900;
					line-height: 1;
				}

				&:last-child {
					font-size: 1.2rem;
					font-weight: 500;
					text-transform: uppercase;
				}
			}
		}

		.nav {
			display: flex;
			align-items: center;
			gap: 60px;

			@include mq(992px) {
				display: none;
			}

			ul {
				list-style-type: none;

				li {
					font-weight: 700;
					letter-spacing: 0.2px;
					text-transform: uppercase;
					margin-bottom: 0.5em;
					position: relative;
					cursor: pointer;

					&::before {
						content: '';
						position: absolute;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 10px solid var(--fg);
						top: 50%;
						transform: translateY(-50%);
						left: -20px;
						opacity: 0;
						transition: 400ms ease;
					}

					&:hover,
					&.--active {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.hero-circular-text {
	position: absolute;
	right: 10%;
	transform-origin: center;
}

.circular-text {
	position: relative;
	opacity: 0;

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 0.75em;
		height: 0.75em;
		background-color: var(--fg);
		border-radius: 50%;
	}

	.rotated {
		span {
			display: inline-block;
			line-height: 1;
			transform-origin: center;

			&:last-child {
				margin-right: 1em;
			}
		}
	}
}

.hero-section {
	padding-top: 100px;

	.hero-title {
		font-family: var(--font-melodrama);
		font-size: 17vw;
		font-weight: 100;
		line-height: 1;
		text-align: center;

		&-phrase {
			overflow: hidden;
			white-space: nowrap;

			span {
				display: inline-block;
				line-height: 1;
				transform-origin: top;
			}

			.video-wrapper {
				width: 1.2em;
				height: 0.75em;
				margin-inline: 0.1em;
				display: inline-block;
				border-radius: 10em;
				overflow: hidden;

				.image {
					position: relative;
					bottom: 100%;
					width: 100%;
					height: 300%;
				}
			}
		}
	}
}

.gallery-section {
	height: 100vh;
	margin-top: 120px;
	overflow-x: hidden;

	.gallery-wrapper {
		padding-block: 60px;
		height: 100%;

		.gallery {
			display: grid;
			grid-template-columns: repeat(50, 1fr);
			grid-template-rows: repeat(2, 1fr);
			width: 500vh;
			height: 100%;
			padding-inline: 40px;

			&-image {
				overflow: hidden;
				position: relative;

				&-inner {
					width: 150%;
					height: 100%;
					position: relative;
				}

				&:nth-child(1) {
					grid-column: 1 / 4;
					grid-row: 1 / 2;
				}

				&:nth-child(2) {
					grid-column: 5 / 11;
					grid-row: 1 / -1;
				}

				&:nth-child(3) {
					grid-column: 12 / 15;
					grid-row: 2 / -1;
				}

				&:nth-child(4) {
					grid-column: 16 / 22;
					grid-row: 1 / -1;
				}

				&:nth-child(5) {
					grid-column: 23 / 27;
					grid-row: 1 / 2;
				}

				&:nth-child(6) {
					grid-column: 28 / 34;
					grid-row: 1 / -1;
				}

				&:nth-child(7) {
					grid-column: 35 / 39;
					grid-row: 2 / -1;
				}

				&:nth-child(8) {
					grid-column: 40 / 45;
					grid-row: 1 / -1;
				}

				&:nth-child(9) {
					grid-column: 46 / 50;
					grid-row: 1 / 2;
				}
			}
		}
	}
}

.title {
	text-align: center;
	font-family: var(--font-melodrama);
	font-size: clamp(6.4rem, 13vw, 14rem);
	line-height: 1.2;
	font-weight: 400;
	margin-bottom: 0.2em;
}

.about-section {
	padding: 200px 0;
	text-align: center;

	p {
		font-size: 2.4rem;
		max-width: 800px;
		// text-wrap: balance;
		margin: 0 auto;
		opacity: 0.8;

		@include mq(992px) {
			font-size: 1.6rem;
		}
	}

	.about-grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		margin-top: 100px;

		.col {
			.about-image {
				width: 100%;
				overflow: hidden;

				span {
					position: absolute;
					top: -2em;
					left: 0;
					font-family: var(--font-melodrama);
					font-size: 1.8rem;
					font-weight: 500;
				}

				&--inner {
					width: 100%;
					height: 160%;
					position: relative;
				}
			}
			&:first-child {
				grid-column: 1 / 5;

				@include mq(992px) {
					grid-column: 1 / -1;
				}

				.about-image {
					height: 65vh;
					margin-bottom: 80px;

					@include mq(992px) {
						height: 80vh;
						margin-bottom: 40px;
					}
				}

				p {
					padding-inline: 1em;
					margin-bottom: 80px;

					@include mq(992px) {
						margin-bottom: 40px;
					}
				}
			}

			&:last-child {
				grid-column: 7 / -1;

				@include mq(992px) {
					grid-column: 1 / -1;
				}

				.about-image {
					height: 100vh;
					margin-top: 100px;
				}
			}
		}
	}
}
