:root {
	--bg: #fafaf8;
	--fg: #363636;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	font-size: 1.6rem;
	min-height: 500vh;
	background-color: var(--bg);
	color: var(--fg);
}

button,
input {
	border: none;
	background: none;
	font-family: inherit;
}

.container {
	padding-inline: 40px;

	@include mq(992px) {
		padding-inline: 16px;
	}
}

.header {
	padding-top: 40px;

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo {
			text-align: center;

			& > div {
				font-family: var(--font-melodrama);

				&:first-child {
					font-size: 4rem;
					font-weight: 900;
					line-height: 1;
				}

				&:last-child {
					font-size: 1.2rem;
					font-weight: 500;
					text-transform: uppercase;
				}
			}
		}

		.nav {
			display: flex;
			align-items: center;
			gap: 60px;

			@include mq(992px) {
				display: none;
			}

			ul {
				list-style-type: none;

				li {
					font-weight: 700;
					letter-spacing: 0.2px;
					text-transform: uppercase;
					margin-bottom: 0.5em;
					position: relative;
					cursor: pointer;

					&::before {
						content: "";
						position: absolute;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 10px solid var(--fg);
						top: 50%;
						transform: translateY(-50%);
						left: -20px;
						opacity: 0;
						transition: 400ms ease;
					}

					&:hover,
					&.--active {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.hero-section {
	padding-top: 100px;

	.hero-title {
		font-family: var(--font-melodrama);
		font-size: 17vw;
		font-weight: 100;
		line-height: 1;
		text-align: center;

		&-phrase {
			overflow: hidden;
			white-space: nowrap;

			span {
				display: inline-block;
				line-height: 1;
				transform-origin: top;
			}

			.video-wrapper {
				width: 1.2em;
				height: 0.75em;
				margin-inline: 0.1em;
				display: inline-block;
				border-radius: 10em;
				overflow: hidden;

				.image {
					position: relative;
					bottom: 100%;
					width: 100%;
					height: 300%;
				}
			}
		}
	}
}

.gallery-section {
	height: 100vh;
	margin-top: 120px;

	.gallery-wrapper {
		padding-block: 60px;
		height: 100%;

		.gallery {
			display: grid;
			grid-template-columns: repeat(50, 1fr);
			grid-template-rows: repeat(2, 1fr);
			width: 500vh;
			height: 100%;
			padding-inline: 40px;

			&-image {
				position: relative;

				&:nth-child(1) {
					grid-column: 1 / 4;
					grid-row: 1 / 2;
				}

				&:nth-child(2) {
					grid-column: 5 / 11;
					grid-row: 1 / -1;
				}

				&:nth-child(3) {
					grid-column: 12 / 15;
					grid-row: 2 / -1;
				}

				&:nth-child(4) {
					grid-column: 16 / 22;
					grid-row: 1 / -1;
				}

				&:nth-child(5) {
					grid-column: 23 / 27;
					grid-row: 1 / 2;
				}

				&:nth-child(6) {
					grid-column: 28 / 34;
					grid-row: 1 / -1;
				}

				&:nth-child(7) {
					grid-column: 35 / 39;
					grid-row: 2 / -1;
				}

				&:nth-child(8) {
					grid-column: 40 / 45;
					grid-row: 1 / -1;
				}

				&:nth-child(9) {
					grid-column: 46 / 50;
					grid-row: 1 / 2;
				}
			}
		}
	}
}
